#include "colors"

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content=__DARK__>
    <meta name="darkreader-lock">
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/style.css">
#ifdef __TITLE__
    <title>__TITLE__ | KabaOS</title>
#else
    <title>KabaOS</title>
#endif
</head>
<body>
    <div id="header">
        <img src="/assets/KabaOS.svg">
#ifdef __TITLE__
        <h1>__TITLE__</h1>
#else
        <h1>KabaOS</h1>
#endif
    </div>
    <div class="container">
        <nav>
            <a href="/">Home</a>
            <a href="/releases">Releases</a>
            <a href="https://github.com/KabaOS/KabaOS">Github</a>
        </nav>
    </div>
    <div class="container">
