#include "colors"

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="__DARK__">
    <meta name="darkreader-lock">
    <link rel="stylesheet" href="/style.css">
    <title>__TITLE__</title>
</head>
<body>
    <div id="header">
        <img src="/assets/KabaOS.svg">
        <h1>__TITLE__</h1>
    </div>
    <div class="container">
        <nav>
            <a href="/">Home</a>
            <a href="https://github.com/KabaOS/KabaOS">Github</a>
        </nav>
    </div>
    <div class="container">
